/* footer */
    footer {
      position: relative;
      top: 0px;
      z-index: 9;
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
    }
    footer .icon_fb {
      background-image: url(https://e-commerce.transglobe.com.tw/activity/campaign-detail/birthday/img/icon_footer_fb.png);
      background-repeat: no-repeat;
      width: 26px;
      height: 26px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }

    .footer_inner {
      margin: 0px auto;
      padding: 15px 30px;
      max-width: 1180px;
      overflow: hidden;
    }
    .footer_top {
      background-color: #fff;
      padding: 20px;
      @media (max-width: 382px) {
        padding: 10px;
      }
    }
    .footer_top .footer_inner {
      display: flex;
      flex-wrap: wrap;
    }
    .footer_bottom {
      background-color: #27327a;
      color: #fff;
    }
    .footer_bottom .footer_inner {
      text-align: center;
    }
    .footer_link ul {
      display: flex;
      flex-wrap: wrap;
      margin-left: 2px;
    }
    .footer_link li {
      display: inline-block;
      position: relative;
      margin-bottom: 15px;
    }
    .footer_link li:before {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      background-color: #262626;
      left: -2px;
    }
    .footer_link li:after {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      background-color: #262626;
      right: 1px;
    }
    .footer_link a {
      padding: 0 20px;
      color: #262626;
    }
    .footer_link .style_pc {
      display: none;
    }
    .footer_link .style_mb {
      display: none;
    }
    .footer_info li {
      margin-bottom: 15px;
      line-height: 18px;
      display: flex;
    }
    .footer_info .link_map {
      border-radius: 15px;
      color: #fff;
      background: #112879;
      padding: 2px 5px;
      margin-left: 3px;
    }
    .footer_title {
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 15px;
    }
    .icon_footer_fb:before {
      content: "";
      background-image: url(./footer/icon_footer_fb.png);
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      flex: 0 0 16px;
      max-width: 16px;
    }
    .icon_footer_map:before {
      content: "";
      background-image: url(./footer/icon_footer_map.png);
      background-repeat: no-repeat;
      width: 18px;
      height: 18px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 3px;
      flex: 0 0 18px;
      max-width: 18px;
    }
    .icon_footer_phone:before {
      content: "";
      background-image: url(./footer/icon_footer_phone.png);
      background-repeat: no-repeat;
      width: 18px;
      height: 18px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 3px;
      flex: 0 0 18px;
      max-width: 18px;
    }
    .copyright {
      font-size: 12px;
      line-height: 26px;
      display: inline-block;
    }
    .footer_more_content {
      padding: 15px 0 0 10px;
      border-radius: 10px;
      background: #cdcdcd;
      overflow: hidden;
      -webkit-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      transition: all .3s ease-in;
      display: none;
    }
    .footer_more_content.active2 {
      display: block;
    }
    .btn_footer_more {
      cursor: pointer;
    }
    .btn_footer_more.active2 .icon-footer-arrow {
      transform: rotate(0deg);
    }
    .icon-footer-arrow {
      background: url(https://e-commerce.transglobe.com.tw/activity/campaign-detail/birthday/img/arr2.png) no-repeat;
      width: 15px;
      height: 15px;
      display: inline-block;
      vertical-align: middle;
      transform: rotate(-180deg);
      margin-left: 5px;
    }
    @media (min-width: 1px) and (max-width: 767.98px) {
      .footer_link {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 15px;
      }
      .footer_link .style_mb {
        display: block;
      }
      .footer_info {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
    @media (min-width: 768px) {
      .footer_link {
        max-width: 60%;
        flex: 0 0 60%;
      }
      .footer_link .style_pc {
        display: block;
      }
      .footer_info {
        margin-left: 5%;
        max-width: 30%;
        flex: 0 0 30%;
      }
    }
    @media screen and (max-width:520px){
      .footer {
          top: 570px;
        }
      .footer {
      top: 0px;
      }
      .footer_inner {
          padding: 15px 10px;
      }
    }