/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

  /* [tailwind的寫法筆記]
    1. 所有元素為符合RWD，以百分比 or vw 為主
    2. 自定義色有先設定在tailwind.config.js
    3. 每區塊的高度設定w-screen
    4. flex子容器的比例使用：flex-1  or  flex-[4], flex-[6] 做比例分配
    5. 客製化高度/寬度使用：h-[calc(100vh-100px)]  or  h-[90vh)]
  */

* {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
  opacity: 0; 
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(80%);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-from-right {
  animation: fadeInFromRight 1s ease-out forwards;
  opacity: 0; 
  transform: translateY(-100%); 
}


@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-30%);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.fade-in-from-top {
  animation: fadeInFromTop 1s ease-out forwards;
  opacity: 0; 
  transform: translateY(-100%); 
}


@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30%);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.fade-in-from-bottom {
  animation: fadeInFromBottom 1.5s ease-out forwards;
  opacity: 0; 
  transform: translateY(-100%); 
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-from-left {
  animation: fadeInFromLeft 1s ease-out forwards;
  opacity: 0; 
  transform: translateY(-100%); 
}

.transfer-position-xy-1{
    @apply transition-transform duration-300 hover:-translate-y-1 hover:-translate-x-1 
}

